<footer>
    <div id="footer-container">
        <div id="about">
            <h4>Giới thiệu</h4>
            <ul>
                <li>Về chúng tôi</li>
                <li>Chính sách giao hàng</li>
                <li>Chính sách thanh toán</li>
                <li>Chính sách đổi trả</li>
            </ul>
        </div>
        <div id="category">
            <h4>Danh mục</h4>
            <ul>
                <li>Thực phẩm chức năng</li>
                <li>Thiết bị y tế</li>
                <li>Bộ thử y tế</li>
                <li>Dịch vụ y tế</li>
                <li>Khám chữa bênh nước ngoài</li>
            </ul>
        </div>
        <div id="contact-information"></div>
    </div>
</footer>
<script src="src.js"></script>